<!DOCTYPE html>
<html ng-app='todoApp'>

<head>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="style.css" rel="stylesheet">

</head>

<body ng-app='todoApp' ng-controller="todoController">
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
					<h1 class="text-center">AngularJS Todo List</h1>
					<div class="addForm">
					<form ng-submit="add()">
						<div class="row">
							<div class="col-xs-10 col-xs-offset-1">
								<input type="text" placeholder="Enter a task" ng-model="taskName" class="form-control" ng-required>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-8 col-xs-offset-1">
								<input type="date" placeholder="Date due" ng-model="dueDate" class="form-control datepicker" ng-required>
							</div>
							<div class="col-xs-3">
								<button type="submit" class="btn btn-primary">Add  <i class="glyphicon glyphicon-plus"></i></button>
							</div>
						</div>
					</form>
				</div>
					<div ng-repeat="task in tasks | filter: {complete:false} track by task.id" class="list-group taskList">
					<div class="list-group-item">
						<input type="checkbox" ng-click="completed()" ng-model="taskComplete" ng-required>
						<p ng-hide="editing" ng-click="editing = true" ng-hide="editing">{{task.name}}</p>
						<p ng-hide="editing" ng-click="editing = true" ng-hide="editing"> Due Date: {{task.date | date}}</p>
						<form ng-show="editing" ng-submit="editing =false" class="editForm">
							<input type="text" ng-model="task.name" class="taskEdit">
							<input type="date" ng-model="task.date" class="dateEdit">
							<button type="submit" class="updateBtn" ng-click="update()"><i class="glyphicon glyphicon-saved"></i></button>
						</form>
						<button ng-click="delete()" class=" deleteBtn"><i class="glyphicon glyphicon-remove"></i></button>
						<button ng-click="editing = true" ng-hide="editing" class="editBtn"><i class="glyphicon glyphicon-edit"></i></button>
					</div>
				</div>

					<div ng-repeat="task in tasks | filter: {complete:true} track by task.id" class="completed">
						<input type="checkbox" ng-click="notCompleted()" ng-model="taskComplete" ng-required>
						<p > {{task.name}} {{task.date | date}}</p>
						<button ng-click="delete()" class=" deleteBtn"><i class="glyphicon glyphicon-remove"></i></button>
					</div>

		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cuid/1.3.8/browser-cuid.min.js"></script>
	<script src="todo.js"></script>
</body>
</html>
